@model IEnumerable<ASPTraining.Models.Improvement>

@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-md-3 list-column">
                @foreach (var item in Model)
                {
                    <div class="list-item @(item.ID==ViewBag.SelectedId? "selected" :"")"
                         data-url="@Url.RouteUrl("defaultapi", new { httproute="" , controller="ImprovementsApi" , id=item.ID })">
                        <h4>@Html.DisplayFor(m => item.Description)</h4>
                        <p>@Html.DisplayFor(modelItem => item.Status.Description)</p>
                    </div>
                }
    </div>
    <div class="col-md-9" id="detailsDiv">
        <div>

            <h4>Improvement</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Description
                </dt>

                <dd id="descriptionField"/>
                <dt>
                    Status
                </dt>
                <dd id="statusField" />
            </dl>
        </div>
    </div>

</div>
       
