@model IEnumerable<ASPTraining.Models.Improvement>

@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-md-3 list-column">
        @foreach (var item in Model)
        {
            <div class="list-item @(item.ID==ViewBag.SelectedId? "selected" :"")">
                <h4>@Html.ActionLink(item.Description, "Index", new { id = item.ID })</h4>
                <p>@Html.DisplayFor(modelItem => item.Status.Description)</p>
            </div>
        }
    </div>
    <div class="col-md-9">
        @{Html.RenderPartial("Details", Model.FirstOrDefault(i => i.ID == ViewBag.SelectedId)); }
    </div>

</div>
       
