@model IEnumerable<ASPTraining.Models.Improvement>

@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-md-3 list-column">
        @foreach (var item in Model)
        {
            <div class="list-item @(item.ID==ViewBag.SelectedId? "selected" :"")"
                 data-url="@Url.Action("Details", new { id = item.ID })">
                <h4>@Html.DisplayFor(m => item.Description)</h4>
                <p>@Html.DisplayFor(modelItem => item.Status.Description)</p>
            </div>
        }
    </div>
    <div class="col-md-9" id="detailsDiv">
        @{Html.RenderPartial("Details", Model.FirstOrDefault(i => i.ID == Model.First().ID)); }
    </div>

</div>
       
